body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

header {
    background: rgba(0, 0, 0, 0.657);
    padding: 30px;
    max-height: 25%;
}

nav {
    text-align: center;
    color: white;
    margin: auto;
}

nav strong {
    font-size: x-large;
}

nav li {
    font-size: small;
    list-style-type: none;
    margin-right: 20px;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color: white;
    text-decoration: none;
}

.flex-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
}

.form-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: wrap row;
}

.nav-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: nowrap row;
}

.nav-item {
    align-content: center;
    display: inline-flex;
    width: 40%;
    flex-basis: 100%;
    padding: 0;
}

.flex-item {
    align-content: center;
    flex-shrink: 2;
    flex-grow: 5;
    margin: 10px;
    max-height: 30%;
    max-width: 30%;
}

.form-item {
    align-content: center;
    flex-basis: 80%;
    margin: 5px;
}

.card-footer {
    color: black;
}

footer {
    background: rgba(0, 0, 0, 0.657);
    text-align: center;
    padding: 8px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
}

@media screen and (max-width: 576px) {
    .flex-item {
        max-width: 80%;
    }

    .nav-container {
        align-content: center;
        flex-flow: wrap row;
    }

    .nav-item {
        align-self: center!important;
        width: 30%;
    }

    nav ul {
        display: block!important;
    }
}